doctype xml
urlset(
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance",
  xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd",
  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
  - var buildDate = new Date().toISOString()
  url
    loc= locals.url
    lastmod= buildDate
    changefreq never
    priority 1.0
  url
    loc= locals.url + "/cfp.html"
    lastmod= buildDate
    changefreq never
  url
    loc= locals.url + "/programme.html"
    lastmod= buildDate
    changefreq never
  url
    loc= locals.url + "/keynotes.html"
    lastmod= buildDate
    changefreq never
  url
    loc= locals.url + "/location.html"
    lastmod= buildDate
    changefreq never
  url
    loc= locals.url + "/organisation.html"
    lastmod= buildDate
    changefreq never
  url
    loc= locals.url + "/faq.html"
    lastmod= buildDate
    changefreq never
